DATABASE_URL=postgresql://postgres.defytzcrqdhjjeipnvya:tEpEsR837TQ6QB%2C@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres
JWT_SECRET=pathao-demo-jwt-secret-key-2025
JWT_EXPIRY_HOURS=24
FRONTEND_URL=http://localhost:5173